<html>
    <body>
        <center><h1>The Server operating system : {{ ansible_distributiom }}</h1>
        <br>
        <h1> The Server Hostname : {{ ansible_hostname }} </h1>
        </center>
    </body>
</html>